MainController/Debug/
MainController/StairsVisualStudio.aps
MainController/StairsVisualStudio.cpp
MainController/StairsVisualStudio.rc
MainController/StairsVisualStudio.sln
MainController/StairsVisualStudio.vcxproj
MainController/StairsVisualStudio.vcxproj.filters
MainController/StairsVisualStudio.vcxproj.user
MainController/x64/

MovementSensorController/Debug
MovementSensorController/MovementSensorsController.sln
MovementSensorController/MovementSensorsController.vcxproj.filters
MovementSensorController/MovementSensorsController.vcxproj
MovementSensorController/MovementSensorsController.vcxproj.user

.vs/
